{% extends "main/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

<form action="{% url 'home' %}" method="POST" class="form-city">
    {% csrf_token %}
    <div class="from-div">
        <input type="search" name="user_city" value="{% if city_name %}{{ city_name }}{% endif %}" placeholder="Enter your city">
        <input type="submit">
    </div>
</form>

{% if city_name %}
    <div class="main-weather-block">

        <div class="city-info">
            <div class="city-name">
                {{ city_name }}, {{ city_country }}
            </div>
    
            <div class="city-time">
                Сейчас {{ time }}
                <!-- <img src="../../static/main/image/morning.png" style="width: 40px; height: 40px;"> -->
            </div>
        </div>

        <div class="container-temp">
            <div class="temp">+{{ temp }}&#176;С</div>
            <div class="container-temp-description">
                <div class="weather">{{ weather }}</div>
                <div class="feels_like">Ощущается как +{{ feels_like }}&#176;С</div>
            </div>
        </div>

        <div class="container-weather">
            <div>
                <div class="container-weather-image"><img src="../../static/main/image/wind.png"></div>
                <div class="container-weather-info">{{ wind }}м/с</div>
            </div>

            <div>
                <div class="container-weather-image"><img src="../../static/main/image/humidity.png"></div>
                <div class="container-weather-info">{{ humidity }}%</div>
            </div>

            <div>
                <div class="container-weather-image"><img src="../../static/main/image/pressure.png"></div>
                <div class="container-weather-info">{{ pressure }}hPa</div>
            </div>
        </div>

        </div>

    </div>
{% endif %}

{% endblock %}
