*   {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
}

hr {
    color: lightcyan;
}

.main-weather-block {
    border: 1px black;
    border-radius: 30px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 1px;
    box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    padding: 20px;
    background-color: white;
}

.main-weather-time {
    display: flex;
}

/* Styles for form */

.form-city {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: auto;
    padding: 10px;
}

input {
    padding: 10px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    border-top-left-radius: 20px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: 1px solid white;
    transition: .3s border-color;
    text-align: center;
}

input:hover {
    border: 1px solid lightgray;
}

input[type=submit] {
    background-color: lightcoral;
    color: white;
    border-top-left-radius: 0;
    border-bottom-right-radius: 20px;
}

select {
    padding: 10px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: 1px solid white;
    transition: .3s border-color;
    text-align: center;
    background-color: white;
}

/* Styles for city info */

.city-info {
    display: flex;
    margin-top: 10px;
}

.city-name {
    flex: 1;
}

.city-time {
    flex: 1;
    text-align: right;
}

.container-temp {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.temp {
    font-size: 30px;
}

.weather {
    font-weight: bold;
}

.clouds {
    margin: 0 auto;
    line-height: 37px;
}

.container-temp-description {
    margin-left: 20px;
}


/* Styles for another info */

.container-weather {
    display: flex;
}

.container-weather div {
    display: flex;
    flex: 1;
}

.container-weather-image {
    flex: 1;
    font-size: 30px;
    height: 30px;
}

.container-weather-image img {
    margin-left: 50px;
}

.container-weather-info {
    height: 30px;
    line-height: 30px;
}


/* Styles for day length */

.day-length {
    display: flex;
    margin-top: 20px;
}

.day-length div {
    display: flex;
    flex: 1;
    height: 24px;
    line-height: 24px;
}

.day-image img {
    margin-left: 60px;
}

.day-image {
    flex-grow: 1;
}

.day-info {
    flex-grow: 2;
}

.day-length-full {
    margin-top: 20px;
    display: flex;
}

.day-length-full-image {
    flex-grow: 1;
    height: 24px;
}

.day-length-full-image img {
    float: right;
}

.day-length-full-info {
    text-align: center;
    flex-grow: 2;
    height: 24px;
    line-height: 24px;
}
